.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.chartContainer {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
